<h1>Editing Organization Administrator</h1>

<%= render 'form', organization_administrator: @organization_administrator %>

<%= link_to 'Show', @organization_administrator %> |
<%= link_to 'Back', organization_administrators_path %>
