<div class="text-center mt-3 pt-2">
  <h2>Edit "<%=@user_profile.username%>" Profile</h2>
</div>
<div class="text-center ml-0 mt-2">
  <p>Please enter the required information to edit your profile:</p>
</div>
<%= render partial: "form",
           locals: {
               user_profile: @user_profile,
               submit_btn_text: "Update",
           } %>