<h1>Search Results</h1>

<% unless @search.users == nil %>
  <%= render @search.users %>
<%end %>

<% unless @search.events == nil %>
  <%= render @search.events %>
<%end %>

<% unless @search.organizations == nil %>
  <%= render @search.organizations %>
<%end %>
