/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("white-paper-texture-4k-white-crumpled-paper-macro-white-paper.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

header#application {
    display: inline-table;
    position: sticky;
    padding: 0.2em;
    height: 100px;
    font-size: 20px;
    background: url("headerbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header#application h1{
    display: block;
    color: snow;
    text-align: center;
    text-decoration: underline;
    margin: 0.4%;

}

header#application div input{
    height: 20px;
    width: 175px;
    position: relative;
    left: -25px;
    text-align: center;
}

header#application h1 picture{
    position: relative;
    padding: 0.5em;
}

div#container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

aside#customer_info {
    width: 20%;
    background-color: #f0f0f0;
    padding: 1em;
}

footer {
    color: white;
    background: #333;
    padding: 1em;
    height: 6em;
}

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#navbar li {
    float: left;
}

ul#navbar li a {
    display: block ;
    color: snow;
    text-align: left;
    padding: 1em;
    text-decoration: none;
}


ul#navbar li#data {
    float: right;
}

ul#navbar li#data a {
    display: block ;
    color: snow;
    text-align: left;
    padding: 1em;
    text-decoration: none;
}

ul#navbar li#create a {
    display: block ;
    color: snow;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    position: relative;
    left: 150px;
}

ul#navbar li#data i{
    display: block;
    text-align: left;
    padding: 10px 0.1px;
}

/* Change the link color to #111 (black) on hover */
ul#navbar li a:hover {
    background-color: #111;
}


td,th {
    padding: 0.2em;
    text-align: left;
}


div section {
    float: bottom;
}

.center-div {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 42%;
}

section#events {
    padding: 1em;
}

section#events h3{
    text-align: center;
    text-decoration: underline;
    padding: 1em;
    color: #111111;
}

section#events div {
    text-align: center;
    background: papayawhip;
    padding: 1em;
    border: solid blue;
    box-sizing: inherit;
    margin: 0px 0px 25px 0px;
}

section#events div p i {
    padding: 0.2em;
}

section#events div h4 {
    text-decoration: underline;
    font-size: 20px;

}

section#organizations {
    padding: 1em;
}

section#organizations h3{
    text-align: center;
    text-decoration: underline;
    padding: 1em;
    color: #111111;
}

section#organizations div {
    text-align: center;
    background: papayawhip;
    padding: 1em;
    border: solid blue;
    box-sizing: inherit;
    margin: 0px 0px 25px 0px;
}

section#organizations div h4 {
    text-decoration: underline;
    font-size: 20px;
}

section#organizations div p i {
    padding: 0.5em;
    vertical-align: bottom;
}

.button {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 10px;
    display: inline-block;
    font-size: 15px;
}


header#user_profile{
    text-align: center;
    left: 25px;
    text-decoration: underline;
    font-size: 20px;
}

div#user_profile {
    width: 30%;
    margin: auto;
}

div#user_profile img#profilepicture{
    border: ridge dodgerblue;
    position: relative;
    left: -190px;
}

div#user_profile div#user_bio{
    float: right;
    width: 60%;
    position: relative;
    top: -185px;
    left: -70px;
 }
div#user_profile div#user_bio img{
    padding: 1px;
}

div#user_profile div#user_bio section{
    box-sizing: content-box;
    width: 300px;
    height: 100px;
    padding: 15px;
    border: 3px solid dodgerblue;
    text-align: left;
    vertical-align: top;
    position: relative;
    left: -30px;
}
div#user_profile div#user_info{
    padding: 1px;
    display: inline;
    position: relative;
    left: -190px;
}
div#user_profile div#user_relations{
    float: right;
    position: relative;
    left: 275px;
    top: -355px;
}

div#user_relations div#user_events{
    border: solid dodgerblue;
    background: papayawhip;
}


div#user_profile  ul a{
    list-style-type: circle;
}

div#user_profile h3{
    text-decoration: underline;
    text-align: center;

}

div#user_relations div#user_organizations{
    border: solid dodgerblue;
    background: papayawhip;
    margin:35px 0px 0px 0px;

}

.box{
    margin-left:auto;
    margin-right:auto;
    width:125px;
    height: 26px;
}
h3#event_org {
    text-align: center;
    color: black;
    text-decoration: underline;
    padding: 1em;
}

div#event_org div p i {
    padding: 0.2em;
}

div#event_org {
    text-align: center;
    background: papayawhip;
    padding: 2em;
    border: solid blue;
    box-sizing: inherit;
    margin: 0px 0px 25px 405px;
    width: 30%;
}

h1#event_org {
    text-decoration: underline;
    text-align: center;
}

h2#event {
    text-decoration: underline;
    text-align: center;
}

div#event_desc {
    text-align: center;
    background: papayawhip;
    padding: 2em;
    border: solid blue;
    box-sizing: inherit;
    position: relative;
    left: 435px;
    width: 25%;
}

div#img {
    float: left;
    text-align: center;
    background: black;
    padding: 2em;
    border: solid blue;
    box-sizing: inherit;
    position: relative;
    left: 150px;
    width: 10%;
}

div#event_loc {
    text-align: left;
    color: black;
    position:relative;
    left: 150px;
    top: -95px;
}
div#event_loc div p i {
    padding: 0.2em;
}

div#event_guests {
    text-align: center;
    background: papayawhip;
    padding: 1em;
    border: solid blue;
    position: relative;
    left: 920px;
    top: -252px;
    width: 15%;
}
div#guests {
    text-align: center;
    background: white;
    padding: 0.5em;
    border: solid black;
}

div#event_comments {
    text-align: left;
    background: papayawhip;
    border: solid blue;
    padding: 1em;
    width: 40%;
    position: relative;
    top: -170px;
    left: 360px;
    margin: 0px 0px 5px 0px;
}
h4#ev_com {
    text-decoration: underline;
    text-align: center;
    position: relative;
    top: -170px;
}
h4#ev_guests_title {
    text-decoration: underline;
    text-align: center;
}
h4#ev_description_title{
    text-decoration: underline;
    text-align: center;
    position: relative;
    left: -85px;
}

div#event_reply {
    text-align: left;
    background: lightgray;
    border: solid blue;
    padding:0.2em;
}

div#org_members {
    text-align: center;
    background: papayawhip;
    padding: 1em;
    border: solid blue;
    margin: 38px 0px 0px 900px;
    width: 15%;
}
div#org_banner {
    background: black;
    border: solid blue;
    padding: 3em;
}
h2#organization {
    text-decoration: underline;
    text-align: center;
}

div#org_desc {
    float: left;
    text-align: center;
    background: papayawhip;
    padding: 2em;
    border: solid blue;
    box-sizing: inherit;
    margin: 20px 0px 5px 110px;
    width: 25%;
}

div#img_org {
    float: left;
    text-align: center;
    background: black;
    padding: 2em;
    border: solid blue;
    box-sizing: inherit;
    margin: 20px 0px 0px 130px;
    width: 10%;
}

div#org_loc {
    text-align: left;
    color: black;
    margin: 170px 0px 0px 130px;
}

div#o_members {
    text-align: center;
    background: white;
    padding: 0.5em;
    border: solid black;
}

aside#org_event {
    background: black;
    border: solid black;
    width: 20%;
    position: relative;
    left: 400px;
    top: -180px;
}
div#org_e div p i {
    padding: 0.2em;
}
h4#org_events {
    text-align: left;
    text-decoration: underline;
}
h4#organizationEvents {
    text-align: center;
    text-decoration: underline;
    position: relative;
    top: 50px;
}
h4#organization_members_title {
    text-align: center;
    text-decoration: underline;
}
div#org_e {
    text-align: left;
    background: papayawhip;
    border: solid blue;
    padding: 1em;
    width: 40%;
    position: relative;
    margin: 0px 0px 25px 0px;
    top: 40px;
    left: 362px;
}

.aTitle {
    color: snow;
    text-decoration: none;
}

.aTitle:hover {
    color: orangered;
}

div#mailbox div#invitation{
    padding: 10px;
    border: solid black;
    margin: 0px 0px 10px 0px;
}

div#invitation img{
    float: left;
    position: relative;
    top:30px;
}
div#mailbox {
    text-align: center;
    width: 30%;
    margin: auto;
}

div#mailbox h2{
    color: snow;
    border: black;
    background: dodgerblue;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    position: relative;
    top: 20px;
    width: 100%;
}

main#logout {
    text-align: center;
}
aside#logout {
    text-align: center;
}

h1#new_event {
    text-align: center;
    text-decoration: underline;
}
div#new_event {
    text-align: center;
    padding: 1em;
    border: solid blue;
    background: papayawhip;
    width: 50%;
    position: relative;
    left: 280px;
    margin: 0px 0px 5px 0px;
}