
div section {
    float: left;
}

.center-div {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 42%;
}

section#events {
    padding: 1em;
}

section#events h3{
    text-align: center;
    color: snow;
    text-decoration: underline;
    padding: 1em;
    color: #111111;
}

section#events div {
    text-align: center;
    background: dodgerblue;
    padding: 1em;
    border: solid;
    box-sizing: inherit;
    margin: 0px 0px 25px 0px;
}

section#events div h4 {
    text-decoration: underline;
    font-size: 20px;

}

section#organizations {
    padding: 1em;
}

section#organizations h3{
    text-align: center;
    padding: 1em;
    color: #111111;
}

section#organizations div {
    border: solid;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    border: ridge ;

}