<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
  <tr>
    <th>Organization Name</th>
    <th>Members Nº</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <td><%= organization.users.count%></td>
      <td><%= link_to "See organization" , organization %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
